.admin-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    .sidebar {
        width: 200px;
        background-color: #f4f4f4;
        padding: 20px;
        ul {
            list-style: none;
            padding: 0;
            li {
                cursor: pointer;
                padding: 10px;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .main-section {
        flex: 1;
        padding: 50px;
        height: 100vh;
        overflow-y: scroll;

        .product-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 20px;

            .product-card {
                border: 1px solid #ccc;
                padding: 10px;
                text-align: center;
                img {
                    max-width: 100%;
                    height: auto;
                }
                .actions {
                    margin-top: 10px;
                    button {
                        margin: 0 5px;
                        padding: 10px;

                        cursor: pointer;
                    }
                }
            }
        }

        .add-product-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            max-width: 500px;
            
            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                width: 100%;
            }

            label {
                text-align: left;
                text-wrap: nowrap;
                min-width: 200px;
            }

            input, textarea {
                width: 100%;
                height: 30px;
                padding: 5px;
                font-size: 16px;
            }

            text-area {
                height: fit-content;
            }

            button {
                align-self: flex-start;
                padding: 10px 20px;
                background-color: #28a745;
                color: white;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: #218838;
                }
            }
        }
    }
}

.admin-page-login {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid red;

    .login-window {
        padding: 50px 30px;

        min-width: 400px;

        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: column;
        gap: 20px;
        

        > div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            width: 100%;
            align-items: flex-start;

            label {
                padding-left: 5px;
                font-size: 14px;
                color: #ccc;
            }

            > div {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;

                input {
                    width: 100%;
                    height: 35px;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid rgb(174, 174, 174);
                    padding: 5px;

                    &:active {
                        border-bottom: 2px solid rgb(0, 0, 0);
                    }
                }

                > *:not(input) {
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                }
            }

            &.actions {
                margin-top: 20px;
                align-items: flex-end;

                > button {
                    width: 100px;
                    user-select: none;

                    font-size: 14px;

                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}
